
{{#if errors}}
<div class="alert alert-danger">
    {{#each errors}}
    <h3>{{this}}</h3>
    {{/each}}
</div>
{{/if}}

<div class="row">
    <div class="col-sm-6" id="burgersDisplay">
        <div class="card mb-1">
            <div class="card-body p-1">
                {{#each burgers}}
                {{#unless this.devoured}}
                <div class="listItem p-2">
                    <form class="devourForm" action="/{{this.id}}?_method=PUT" method="POST">
                        <span class="available">{{this.id}}. {{this.burger_name}}</span>
                        <button type="submit" class="btn btn-primary btn-sm float-right ml-2">DEVOUR IT</button>
                        <input type="text" class="float-right" name="name" size="10" maxlength="50" placeholder="Enter Name">
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-sm-6" id="devouredDisplay">
        <div class="card mb-1">
            <div class="card-body p-1">
                <ul class="list-group">
                    {{#each burgers}} 
                    {{#if this.devoured}}
                        <li class="list-group-item devouredLi">
                            <div class="devouredDiv">
                                <span class="devoured">{{this.id}}. {{this.burger_name}}</span><br>
                                <span class="devoured">Created By: {{this.createdBy}}</span><br>
                                <span class="devoured">Eaten By: {{this.eatenBy}}</span>
                            </div>
                        </li>
                    {{/if}} 
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>